<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NovelSiteMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NovelSiteMVC.styles.css" asp-append-version="true" />
    <!--template links--> *@
    <link rel="stylesheet" href="~/assets/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/novelFremwork.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>
<body>
    <div class="page">
        <header>
            <div class="container">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img style="height:60px;" src="~/assets/image/logo2.png" /></a>
                </div>
                <nav class="nav-bar">
                    <ul class="nav-bar-menu">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home"></i>
                                <span>الصفحة الرئيسية</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Novels" asp-action="Index">
                                <i class="fas fa-book"></i>
                                <span>قائمة الروايات</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-users"></i>
                                <span>انضم لنا</span>
                            </a>
                        </li>
                    </ul>
                    <div class="search"><input type="search" placeholder="بحث" /></div>
                    <div class="mode-switch">
                        <div class="theme">
                            <i class="fas fas fa-moon"></i>
                        </div>
                    </div>
                </nav>
                <partial name="_IdentityAccount"></partial>
            </div>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <div class="container">
                <div class="box">
                    <h3>حفيف الورق</h3>
                    <ul class="social">
                        <li class="facebook">
                            <a href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="youtube">
                            <a href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="tiktok">
                            <a href="">
                                <i class="fab fa-tiktok"></i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="">
                                <i class="fab fa-x-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="text">تواصل معنا وتابعنا على مواقع التواصل الاجتماعى</p>
                </div>
                <div class="copyr">
                    <h3><span class="far fa-copyright"></span>2024</h3>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
