@model IEnumerable<string?>
@{
    ViewData["Title"] = "الرئيسية";
}

<nav class="nav-top">
    <div class="container">
        <div class="text-top py-3">
            <h3>
                <span class="fas fa-arrow-left"></span>
                <span>المهام الفعّالة حاليا</span>
                <span class="text-secondary">انتقل لصفحة المهام لتعديلهم</span>
            </h3>
        </div>
            @foreach (var task in Model)
            {
                <div class="jumbotron jumbotron-fluid border-3 m-2 border-success bg-success">
                    <div class="container">
                    <h5 class="text-light display-6">@task</h5>
                    </div>
                </div>
            }
    </div>
</nav>