:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --section-background: rgb(30 41 59);
    --tect-main-color: white;
    --text-sec-color:#b9b9b9;
    --bg-black:rgb(2 6 23);
    --bg-black-sec:rgb(17, 18, 21);
    
  }